---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.url or "https://TODO.invalid" }}/sitemap.xml
# TODO: Set site.url in src/_data/site.json before deployment.
